* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, .675);
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url(images/subway.jpg);
  background-size: cover;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  text-align: center;
  color: #eeeeee;
  width: 85%;
  height: 85%;
  border-radius: 30px;
  box-shadow: 10px 10px 12px #000000c4;
}

h1 {
  margin-top: 30px;
  margin-bottom: 10px;
}

h2 {
  font-size: 50px;
  margin-bottom: 20px;
}

button {
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #eeeeee;
  font-weight: bold;
  width: 200px;
  margin-bottom: 5px;
  border-radius: 5px;
  transition: .3s;
}

#increment-btn {
  background-color: darkred;
}

#increment-btn:active{
  background-color: #470000;
}

#save-btn {
  background-color: darkgreen;
}

#save-btn:active {
  background-color: #002c00;
}

#save-el {
  margin-top: 20px;
}
